.palette-details {
  width: 33.3%;
  text-align: right;
}

.palette-form {
  input {
    width: 250px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid black;
  }
}